src/assets/videotutorial.mp4 filter=lfs diff=lfs merge=lfs -text
src/assets/flashcards/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
public/assets/flashcards/Colors-Easy/Green.mp4 filter=lfs diff=lfs merge=lfs -text
public/assets/flashcards/MatchingType-Medium/Sun.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
public/assets/flashcards/Numbers_Hard/36_multiplication.mp4 filter=lfs diff=lfs merge=lfs -text
